---
const { title = "TulsiBerry" } = Astro.props;
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    {
      // @ts-ignore
      process.env.NODE_ENV === "production" && (
        <script
          defer
          src="https://cloud.umami.is/script.js"
          data-website-id="a2a57429-3bd0-4f0d-b0dd-7d72226e0a6b"
        />
      )
    }
  </head>
  <body class="relative min-h-screen">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
  }
</style>
